<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--  Network related  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Positioning permission (for WebView positioning) -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />


    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <uses-permission android:name="android.permission.READ_APP_PROVIDERS" />


    <application
        android:name="com.dhug.quick_math.AppApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaseMVVM"
        tools:targetApi="31">

        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name="com.dhug.quick_math.base.ui.activity.SplashActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            tools:ignore="LockedOrientationActivity">

            <!-- Program entrance -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <!--        android:configChanges="orientation|screenSize"-->

        <activity
            android:name="com.dhug.quick_math.presentation.view.activity.HomeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.dhug.quick_math.presentation.view.activity.MatchActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.dhug.quick_math.presentation.view.activity.TrainingActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.dhug.quick_math.presentation.view.activity.InformationActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.dhug.quick_math.presentation.view.activity.SettingActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name="com.dhug.quick_math.presentation.view.activity.AchievementsActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />

        <!--        &lt;!&ndash; Crash display (must be in an independent process) &ndash;&gt;-->
        <!--        <activity-->
        <!--            android:name="com.dhug.quick_math.base.ui.activity.CrashActivity"-->
        <!--            android:launchMode="singleTop"-->
        <!--            android:process=":crash" />-->
        <!--        &lt;!&ndash; Restart the application (must be in a separate process) &ndash;&gt;-->
        <!--        <activity-->
        <!--            android:name="com.dhug.quick_math.base.ui.activity.RestartActivity"-->
        <!--            android:launchMode="singleTop"-->
        <!--            android:process=":restart" />-->

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ADMOB_APP_ID}" />

        <!--   Open street map     -->
        <meta-data
            android:name="org.osmdroid.config"
            android:value="osmdroid" />


        <!--        Notification Firebase-->
        <!--        <service-->
        <!--            android:name=".service.FCMService"-->
        <!--            android:directBootAware="true"-->
        <!--            android:exported="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->


        <receiver
            android:name=".framework.broadcast.TicketBroadcastReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

    </application>
    <queries>
        <intent>
            <action android:name="com.google.android.gms" />
        </intent>

        <!-- Photo intent: MediaStore.ACTION_IMAGE_CAPTURE -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Shooting intention: MediaStore.ACTION_VIDEO_CAPTURE -->
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
        <!-- Image cropping intention -->
        <intent>
            <action android:name="com.android.camera.action.CROP" />
        </intent>
        <!-- Call intention: Intent.ACTION_DIAL -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>
        <!-- Call up sharing intent: Intent.ACTION_SEND -->
        <intent>
            <action android:name="android.intent.action.SEND" />
        </intent>
        <!-- Call up other page intentions: Intent.ACTION_VIEW -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
        <!-- Call up the system file selector: Intent.ACTION_GET_CONTENT -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>

        <!--    Send Mail    -->
        <intent>
            <action android:name="android.intent.action.SENDTO" />
            <data
                android:host="*"
                android:scheme="mailto" />
        </intent>
    </queries>

</manifest>